@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Arial, sans-serif;
}

.container {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
}

section {
  padding: 50px 0;
}

.sticky_header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 3px 3px -8px 3px #ddd;
  z-index: 99;
}

@media only screen and (max-width: 700px) {
  .menu {
    width: 100%;
    height: 25rem;
    position:fixed;
    z-index: 2;
    background:black;
    top:-30px;
    left: 0;
    display: none;
   
  }

  .menu ul {
    width: 700px;
    position: absolute;
    right:-30px;
    z-index: 2;
    flex-direction: column;
    line-height: 25px;
    align-items: center;
    display: flex;
    transition: .15s ease-out;
    justify-content: space-around;
    height: 25rem;
    padding: 0.5rem;
  }

  .show_menu {
    display: block;
    transform: translateY(25%);
  }
  .sticky_header {
    position: fixed; 
    top: 0; 
    width: 380px;
    height: 80px;
    line-height: 80px;
    background: black; 
    box-shadow: 3px 3px -8px 3px #ddd;
    z-index: 99;
  }
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.list-item {
  display: flex;
  margin-bottom: 10px;
}

.key {
  font-weight: bold;
}

.navbar-brand {
  font-weight: 970;
  font-size: 25px;
  font: bolder;
  position: relative;
  z-index: 0;
  line-height: inherit;
  margin-right: 3rem;
  /* margin-left:10rem; */
}
.navbar-brand:after {
  position: absolute;
  top: 50%;
  left: -12px;
  width: 40px;
  height: 40px;
  content: "";
  background: #3e64ff;
  z-index: -1;
  transform: translateY(-50%);
  border-radius: 50%;
}
.subheading {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  font: bold;
  color: #3e64ff;
  letter-spacing: 4px;
}

h1 span {
  color: #3e64ff;
  text-decoration: underline;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  width: 50%;
  background: #3e64ff;
}

